{% extends 'header.html' %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}

<div align="center">
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <table  border="2px solid black" class="table table-bordered"  style="width:60%">
            {{ form.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div><br>
<b>  Format of the .csv file for adding users:</b>
<pre style="overflow:auto">
    1.  First line of the file should be organised event name (without any inverted commas) in which participants
        have to be added.
    2.  Second line onwards,rows would contain participants's basic information in the sequence mentioned below
        (with inverted commas and semi-colons):

        "first name";"last_name";"email id";"date of birth";"college name";"contact number";user type

        (Strictly follow the above mentioned sequence in the csv file)
    3.  Select the csv file using "Choose File" option above and click submit.
    4.  Participants would be added to their respective organised events along with their basic information.

</pre>
{% endblock %}
