{% extends 'header.html' %}
            {% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
            <div align="center">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <table  border="2px solid black" class="table table-bordered"  style="width:60%">
                      {{ form.as_table}}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
 <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'add_user_profile' %}'">Add Participants</button>
{% endblock %}