{% extends 'header.html' %}
{% block body %}
<div align="center">
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <table  border="2px solid black" class="table table-bordered"  style="width:60%">
            {{ form.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div><br>
<b>  Instructions for uploading csv file:</b>
<pre style="overflow:auto">
    1. Upload users in the form of csv file.
    2. The first line of csv file should be name of organised event in which want to add participant.
    3. From second like sequence like- "first name";"last name";"email id";"date of birth";"college name";"user type".
</pre>
{% endblock %}
