{% extends 'header.html' %}
            {% block body %}
            <div align="center">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <table  border="2px solid black" class="table table-bordered"  style="width:60%">
                      {{ form.as_table}}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% endblock %}

