{% extends 'header.html' %}
            {% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
            <div align="center">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <table  border="2px solid black" class="table table-bordered"  style="width:60%">
                      {{ form.as_table}}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
<b>  Instructions for uploading template:</b>
<pre style="overflow:auto">
    1.  Template must be a .zip file.
    2.  It should contain all the relevant pictures and files along with the latex (.tex) file.
    3.  The latex (.tex) file's name must be the same as zipped (.zip) file name.
    4.  While generating certificate(.pdf) for a participant, latex file has some variables which would be
        replaced with the details of the participant.
    5.  The variables available are:
        a)name
        b)event_name
        c)qrcode
        d)link_qrcode [the qrcode image]
        e)start_date
        f)end_date
        g)num_days
        h)user_type
    6.  All the variables in the .tex file should start with $ sign.
    7.  Any number of variables from above can be added(starting with $) in .tex file (not necesssary to add all)
    8.  Upload the zipped file (.zip) and Click on Submit button.
    9.  The file would be added and you can preview the uploaded file in 'view certificates' tab.
</pre>
{% endblock %}