<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title><h3>Home</h3></title>
</head>
<body>
    <ul>
        User<ul>
           <li><a href="add_user/">add user</a></li>
            <li><a href="view_user/">view user</a></li></ul>
         <br>
        Certificate<ul>
           <li><a href="add_certificate/">add certificate</a></li>
            <li><a href="view_certificate/">view certificate</a></li>
         </ul><br>
        Event<ul>
            <li><a href="add_event/">add event</a></li>
            <li><a href="view_event/">view event</a></li>
        </ul><br>
        Organise Event<ul>
            <li><a href="organise_event/">organise event</a></li>
            <li><a href="view_organised_event/">view organised event</a></li>
        </ul><br>
    </ul>
</body>
</html>