<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>Home</title>
</head>
<body>
    <ul>
        User<ul>
           <li><a href="event.html">add user</a></li>
            <li><a href="event.html">edit user</a></li>
            <li><a href="event.html">view user</a></li></ul>
         <br>
        Certificate<ul>
           <li><a href="event.html">add certificate</a></li>
            <li><a href="event.html">edit certificate</a></li>
            <li><a href="event.html">view certificate</a></li>
         </ul><br>
        Event<ul>
            <li><a href="event.html">add event</a></li>
            <li><a href="event.html">edit event</a></li>
            <li><a href="event.html">view event</a></li>
        </ul><br>
        Organise Event<ul>
            <li><a href="event.html">organise event</a></li>
            <li><a href="event.html">edit organised event</a></li>
            <li><a href="event.html">view organised event</a></li>
        </ul><br>
    </ul>
</body>
</html>