{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    {% load material_form %}
    <h4>Login Form</h4>
        <form method="POST">
            {% csrf_token %}
            {% form form=form %} {% endform %}
            <button type="submit" class="btn btn primary" >Login</button><br><br>
            <b>Not a member?Register</b>
            <button type="button"  class="btn" onclick="location.href='{% url 'register' %}'">Register</button>
        </form>

{% endblock %}
