{% load static %}
<html>
    <head>
        <title>Login From</title>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    <h4 align="center">Login Form</h4>
    <div align="center">
        <form method="POST">
            {% csrf_token %}
            <table  border="2px solid black" class="table table-bordered"  style="width:60%">
                {{ form.as_table}}
            </table>
            <button type="submit" class="btn btn-primary" >Login</button><br><br>
            <b>Not a member?Register</b>
            <button type="button"  class="btn btn-primary" onclick="location.href='{% url 'register' %}'">Register</button>
        </form>
    </div>
    </body>
</html>
