{% extends 'header.html' %}
{% block head %}
{% endblock %}
            {% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
            <div align="center">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <table  border="2px solid black" class="table table-bordered"  style="width:60%">
                      {{ form.as_table}}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'change_password' %}'">Change Password</button>
                </form>
            </div>

            {% endblock %}
