{% load static %}
<html>
<head>
<title>Register Form</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <div id="content-container" class="container p-none" align="center">
        <div class="lgn-container col-lg-6">
            <br><h4><b> REGISTRATION FORM </b></h4>
            <form id="login-form" method="post"
                  action="{% url 'register' %}">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <td><label for="id_first"><b>First Name</b></label></td>
                        <td><input id="id_first" name="first_name"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_last"><b>Last Name</b></label></td>
                        <td><input id="id_last" name="last_name"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_username"><b>Username</b></label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_email"><b>Email Id</b></label></td>
                        <td><input id="id_email" name="email"
                                   type="email" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password"><b>Password</b></label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_cpassword"><b>Confirm Password</b></label></td>
                        <td><input id="id_cpassword" name="password_confirm"
                                   type="password" class="form-control"></td>
                    </tr>

                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your passwords didn't match.
                        Please try again.
                    </p>
                {% endif %}

                <input type="submit" value="Register"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            to go login-> <a href="{% url 'login' %}" style="text-decoration:none;font-size:18px;color:blue"><b> Login</b></a>
        </div>
    </div>
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>