
{% extends 'header.html' %}
    {% block body %}

    <h4> List of Participants in Organised Events:</h4>

    <div class="table-responsive">
    <table  border="1px solid black" class="table table-bordered"  style="width:50%">

        {% for participant,status in list1 %}
            {{ status.1 }}
        <tr> <th>{{ participant.first_name }}</th>
            <td>
                {% if status == 1 %}
                    <font color="green">Mail Sent!</font>

                {% else %}
                 <a href="{% url 'send_email' %}?oe_pk={{organised_event.pk}}&participant_pk={{ participant.pk }}&type=Individual" style="color:red">Send Mail</a>
                {% endif %}



            </td></tr><br>
        {% endfor %}


    </table>
    </div>

    <button type="button" value="Send" class="btn btn-primary" onclick="location.href='{% url 'send_email' %}?oe_pk={{organised_event.pk}}&type=All'">Send All</button>

    {% endblock %}

