
{% extends 'header.html' %}
    {% block body %}

    <h4> List of Participants in Organised Events:</h4>

    <div class="table-responsive">
    <table  border="1px solid black" class="table table-bordered"  style="width:50%">
        {% i=0 %}
        {% for participant in participants %}
        <tr> <th>{{ participant.first_name }}</th>
            <td>
                {% if {{status[i]}} %}
                    <a href="#" style="text-decoration:none;color:green">Send</a>
                {% endif %}
                {% else %}
                 <a href="#" style="text-decoration:none;color:red">Unsend</a>
                {% endelse%}
                {% i=i+1 %}


            </td></tr><br>
        {% endfor %}
    </table>
    </div>
    <button type="button" value="Send" class="btn btn-primary" onclick="location.href='{% url 'send_email' %}?oe_pk={{organised_event.pk}}'" style="text-decoration:none;font-size:20px">Send</button>

    {% endblock %}

