{% extends 'header.html' %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
               <h4> Events List:</h4>
            <ul style="list-style-type:square">
                    {% for event in object_list %}
                        <li>  <a href="{% url 'edit_event' %}?name={{event.name}}" style="text-decoration:none;font-size:20px"> {{ event.name }}</a></li><br>
                  {% endfor %}
            </ul>

             <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'add_event' %}'">Add Event</button>
 {% endblock %}