{% extends 'header.html' %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
<h4>Participant Users Lisr:</h4>
              <ul style="list-style-type:square">
                  {% for u in object_list %}
                  <li> <a href="{% url 'edit_user' %}?email={{u.email}}" style="text-decoration:none;font-size:20px"> {{ u.first_name }}</a></li><br>
                  {% endfor %}</ul>

<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'add_user_profile' %}'">Add User</button>
{% endblock %}