{% extends 'header.html' %}

{% block body %}
<h4>Organised Events List:</h4>
              <ul style="list-style-type:square">
{% for oe in object_list %}
                  <li><a href="{% url 'edit_organised_event' %}?oe_pk={{oe.pk}}" style="text-decoration:none;font-size:20px"> {{ oe.event.name }}</a></li><br>
                  {% endfor %}</ul>

             <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'organise_event' %}'">Organise Event</button>
{% endblock %}