{% extends 'header.html' %}
{% block body %}
<h4> Certificates List:</h4>
            <ul style="list-style-type:square">
{% for certificate in object_list %}
            <li><a href="{% url 'edit_certificate' %}?title={{certificate.title}}" style="text-decoration:none;font-size:20px"> {{ certificate.title }} </a>
                <a href="{% url 'preview' %}?title={{certificate.title}}" style="color:black;text-decoration:none;font-size:20px"><span>: Preview</span></a></li>
    <br>
                {% endfor %}</ul>


<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'add_certificate' %}'">Add Certificate</button>
{% endblock %}