{% extends 'header.html' %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li style="color:green"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
<h4> Certificates List:</h4>
<div class="table-responsive">
    <table  border="1px solid black" class="table table-bordered"  style="width:50%">

{% for certificate in object_list %}
        <tr><th><a href="{% url 'edit_certificate' %}?title={{certificate.title}}" style="text-decoration:none"> {{ certificate.title }} </a></th>
            <td>   <a href="{% url 'preview' %}?title={{certificate.title}}" style="color:black;text-decoration:none"><u>Preview</u></a></td>

                {% endfor %}</tr><br>

    </table>
</div>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'add_certificate' %}'">Add Certificate</button>
{% endblock %}